*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: poppins;
}

#Saac{
border-radius: 200%;
height: 200px;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

main{
    flex: 1;
}

.cabecario{
    background-color: #07C8D9;
    height: 30px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}

.Eu{
    background-image: linear-gradient(to right, #00ffff, #008697);
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#Projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.Projeto{
    display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   border: black solid;
   border-radius: 10px;
}

#Poggers{
    display: flex;
    gap: 50px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: linear-gradient(to right, #DCDCDC, #A9A9A9);
}
